<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card *ngIf="!isLoading && !checkAttempt()">
  <form #questionForm="ngForm">
    <div *ngFor="let question of testQuestion; let i = index">
      <mat-card>
        <h3>
          <b>Question {{ i }}: {{ question.question }}</b>
        </h3>
        <mat-radio-group
          aria-label="Select an option"
          [ngModel]
          [name]="'q' + i"
          required
        >
          <div *ngFor="let op of question.options">
            <mat-radio-button required value="{{ op }}"
              ><b>{{ op }}</b></mat-radio-button
            >
            <br />
            <br />
          </div>
        </mat-radio-group>
      </mat-card>
    </div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="questionForm.invalid"
      (click)="attemptTest(questionForm)"
    >
      Submit Test
    </button>
  </form>
</mat-card>
<mat-card *ngIf="checkAttempt()">
  <table id="upload-data" border="1">
    <tr>
      <th>Name</th>
      <th>Enrollment No</th>
      <th>Marks</th>
      <th>Submit Time</th>
    </tr>
    <tr>
      <td>{{ myData.name }}</td>
      <td>{{ myData.enrollment_no }}</td>
      <td>{{ myData.marks }}</td>
      <td>{{ myData.submit_time }}</td>
    </tr>
  </table>
</mat-card>
