<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading">
  <mat-card *ngIf="!isLoading && !checkAttempt() && doTest" class="test-card">
    <form #questionForm="ngForm" (ngSubmit)="attemptTest(questionForm)">
      <div
        *ngFor="let question of testQuestion; let i = index"
        class="question-div"
      >
        <h3>
          <b>Question {{ i + 1 }}: {{ question.question }}</b>
        </h3>
        <mat-radio-group
          aria-label="Select an option"
          [ngModel]
          [name]="'q' + i"
          required
        >
          <div *ngFor="let op of question.options">
            <mat-radio-button required value="{{ op }}"
              ><b>{{ op }}</b></mat-radio-button
            >
            <br />
            <br />
          </div>
        </mat-radio-group>
        <mat-divider></mat-divider>
      </div>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="questionForm.invalid"
      >
        Submit Test
      </button>
    </form>
  </mat-card>
  <div class="list-main" *ngIf="checkAttempt() && !isLoading">
    <div class="list-item">Result of {{ test_name }} :</div>
    <mat-divider></mat-divider>
    <div class="list-item">Name: {{ myData.name }}</div>
    <mat-divider></mat-divider>
    <div class="list-item">Enrollment No: {{ myData.enrollment_no }}</div>
    <mat-divider></mat-divider>
    <div class="list-item">Marks: {{ myData.marks }}</div>
    <mat-divider></mat-divider>
    <div class="list-item">
      Submit Time: {{ myData.submit_time | date }}
      {{ myData.submit_time | slice: 11:16 }}
    </div>
  </div>
  <div *ngIf="!doTest && !checkAttempt()">
    <h1>You have missed this Test</h1>
  </div>
</div>
