<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-grid-list
  class="example-card"
  cols="2"
  rowHeight="1:2"
  *ngIf="submissions && !isLoading"
>
  <mat-grid-tile *ngFor="let submission of submissions">
    <div *ngFor="let subsubmission of submission">
      <mat-card *ngIf="validShow(subsubmission.due_date)">
        <mat-card-header>
          <mat-card-title>{{ subsubmission.submission_name }}</mat-card-title>
          <mat-card-subtitle>{{
            subsubmission.classroom_name
          }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Start Date: {{ subsubmission.start_date }}</p>
          <p>Due Date: {{ subsubmission.due_date }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-button
            color="primary"
            routerLink=" ['/submission',subsubmission._id]"
          >
            Submit
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<p *ngIf="!submissions && !isLoading">No Submissions For Now 😆</p>
