/* mat-card {
  width: 100%;
} */
mat-spinner {
  margin: auto;
}
.example-card {
  margin-top: 15px;
  width: 100%;
  align-items: center;
}
.example-card button {
  margin-left: 37.5%;
}
.info-text {
  text-align: center;
  font-weight: 450;
}
