input[type="file"] {
  visibility: hidden;
}

mat-spinner {
  margin: auto;
}
.list-main {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid;
}
.list-item {
  margin: 1%;
  padding: 1%;
  background-color: white;
  font-weight: 450;
}
a {
  text-decoration: none;
  color: white;
}
.upload-table {
  margin-top: 2%;
  width: 100%;
  text-align: center;
}
