.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
a {
  text-decoration: none;
  color: white;
}
.notification-show {
  overflow: scroll;
  width: 100%;
  height: 350px;
}
.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
.notification-list {
  width: 100%;
}
